<!DOCTYPE html>
<!--[if lt IE 7]>       <html class = "no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>          <html class = "no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>          <html class = "no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>       <html class = "no-js> <!--<![endif]-->




{% extends 'base.html' %}

{% block title %}Request A Job{% endblock %}


{% block content %}
<html>
    
    <body>

        <h3>Request a job for a private detective</h3>

        <form action = "/requestAJob" method = "post">
            {% csrf_token %}
            <label for="">Title</label>
            <input type="text" id="title" name="title" placeholder="Title" required>
            <br>

            <label for="">Description</label>
            <input type="text" id="desc" name="desc" placeholder="Brief Description of the job" required>
            <br>
            
            <label for="">Pay</label>
            <input type="text" id="pay" name="pay" placeholder="Enter the pay" required>
            <br>
            
            <label for="">Dates(optional)</label>
            <input type="date" id="dates" name="dates" placeholder="Optional - Enter dates between when you would like the job done">
            <br>
            
            <button type="submit">Request</button>
        </form>

        <script src="" async defer></script>
    </body>
</html>
{% endblock %}